/* Sidebar header (and topbar for mobile) */
.wy-side-nav-search, .wy-nav-top {
background: #ffffff;
}
/* Sidebar */
.wy-nav-side {
background: #202124;
}
/* Version color */
.wy-side-nav-search>div.version {
  color: #202124;
}
